<mat-card>
    <mat-card-title> Alterar Evento</mat-card-title>
    <form>
      
        <mat-form-field>
            <input matInput placeholder="Nome Responsavel" 
               [(ngModel)]="evento.nome_resp" name="nome_responsavel">
        </mat-form-field>
        
     <!--    <mat-form-field>
            <input matInput placeholder="Sala"
            [(ngModel)]="evento.salaNome" name="sala">  
        </mat-form-field>
 -->

            <select  matInput placeholder="Sala"
            [(ngModel)]="evento.salaNome" name="sala"> 
            <option *ngFor="let dl of listitens" [value]="dl"> 
            {{dl}}
            </option>
            </select>

        <mat-form-field>
            <input type="datetime-local"  matInput placeholder="Data Inicial"
            [(ngModel)]="evento.data_inicial" name="datainicial">
        </mat-form-field>
        <mat-form-field>
            <input type="datetime-local"   matInput placeholder="Data Final"
            [(ngModel)]="evento.data_final" name="datafinal" >
        </mat-form-field>

    </form>

    <button mat-raised-button  (click)="updateEvento()" color="primary">
        Atualizar  
    </button>    
    <button mat-raised-button  (click)="cancel()">
        Cancelar  
    </button>

</mat-card>